.about-img{
    background-image: url("../src/assets/about.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;
}
